
</style>

<section id="bio" class="pfblock pfblock-gray">
	<div class="container" style="align:middle">

	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-2">
			<img src="https://avatars3.githubusercontent.com/u/5489252?v=3&s=460" style="align:middle; border-radius:200px">
		</div>
		<div class="col-md-5"></div>
	</div>

	<br/>

		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">

				<div class="pfblock-header wow fadeInUp">
					<h2 class="pfblock-title">This is who I am</h2>
					<div class="pfblock-line"></div>
					<div style="font-size:16px">
						Hello there! I'd like to take a moment to thank you for visiting my website. I'm glad I was able to make enough of an impression that you decided you to wanted to see the skills and experience I have to offer.<br/><br/>

						So a little bit about myself... I grew up in the Cincinnati area and naturally became a Reds, Bengals and Bearcats fan <i>(as unfortunate as that may be)</i>. I'm the youngest of three brothers, and grew up having strong work ethic just to keep up with them. I continue to play tennis and shoot archery in my spare time. I also collect coins, books, video games and vinyl records.<br/><br/>

						I've been attending Rose-Hulman Institute of Technology in Terre Haute, Indiana since 2012, with the hopes of graduating in May, 2016 with a BS double major in computer science and software engineering. I've also been fortunate enough to spend my entire junior year abroad at the University of Aizu in Fukushima, Japan where I studied forensic linguistics and machine learning techniques.<br/><br/> 

						I've always had a thirst of knowledge, and I pride myself on my desire to be a well rounded individual. I have a love for science, technology, sports, music, history, writing and culture. Ever since I could remember I've been curious about the world we live in--both culturally and scientifically. Today, I'm constantly trying to learn new things about the world we live in and the people that inhabit it. I'm now only a novice traveller, but I find it exciting to tackle new adventures and go places not many others have gone before.


						<br/><br/>
						<b>My father always told me to follow a career path where I'd never stop learning. <br/><br/>I have. <br/>And I'm loving every <u>minute</u> of it.</b>
					</div>
				</div>

			</div>

		</div>


		</div><!-- .row -->
	</div><!-- .container -->
</section>