<section id="contact" class="pfblock">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header">
						<h2 class="pfblock-title">Let's Start a Conversation</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							Again, thank you for visiting my website.<br/>Feel free to contact me with any questions or just to chat.<br/>It's always a pleasure. I hope you have a pleasant day!
						</div>
					</div>

				</div>

			</div><!-- .row -->

			<!-- <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInUp" data-wow-delay=".3s">
				<a href="mailto:vatter.cw@gmail.com" class="btn btn-lg" style="background-color: rgba(17, 17, 17, 0.8); color: #ffffff"><i class="fa fa-envelope fa-3x"></i></a>
			</div> -->

			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<form id="contact-form" role="form" method="post">
						<div class="ajax-hidden">
							<div class="form-group wow fadeInUp">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".1s">
								<label class="sr-only" for="c_email">Email</label>
								<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".2s">
								<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Message"></textarea>
							</div>

							<button type="submit" class="btn btn-lg btn-block wow fadeInUp" data-wow-delay=".3s">Send Message</button>
						</div>
						
					</form>

					<?php include "handleFormSubmit.php" ?>

				</div>

			</div>
		</div><!-- .container -->
	</section>