	<section id="experience" class="pfblock">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">My Work Experience</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							I've learned in life that even the smallest bit of experience can become invaluable, even if it seems irrelevant at the time. And because of this, I constantly try and seek it out. Below are some of my work experiences, including internships and major projects in industry.
						</div>
					</div>

				</div>

			</div><!-- .row -->
            
            
            <div class="row">
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="assets/Adproval.png" alt="img01"/>
                            <figcaption>
                                <h2>Adproval</span></h2>
                                <p>I tracked KPIs and website analytics. I carefully crafted personal emails to send to potential customers. Most importantly, this was my first exposure to the workings of a sucessful software startup.</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="assets/Blackbaud.jpg" alt="img01"/>
                            <figcaption>
                                <h2>Blackbaud</h2>
                                <p>I aided in the development of a financial reports section in a cloud-based accounting software for non-profit organizations. I worked with both front-end web development and service layer architecture.</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="assets/aizulab_logo.png" alt="img01"/>
                            <figcaption>
                                <h2>AizuLab</h2>
                                <p>For this Japanese startup, I created a Python API for mobile applications for a real-time, energy consumption data-collection project.</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    
                    
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="assets/google.jpg" alt="img01"/>
                            <figcaption>
                                <h2>Google <span/>AdSense</h2>
                                <p>My senior project involves working with the Google Adsense team on improving their Optimization Engine. Currently, the details of this upcoming project are mostly unknown.</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    
                    
                    
                </div>
                
            </div>


        </div><!-- .contaier -->

    </section>