<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-sm-12">

				<ul class="social-links">
					<li><a href="https://www.facebook.com/corey.vatter.10" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.linkedin.com/pub/corey-vatter/9a/51b/a4" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://plus.google.com/104678110754842967537" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="https://github.com/vattercw" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-github"></i></a></li>
					<li><a href="mailto:vatter.cw@gmail.com" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
				</ul>

				<p class="heart">
					Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Aizu
				</p>
				<p class="copyright">
					© 2015 Corey Vatter | Images: <a href="http://froggiechick345.deviantart.com/">Rachael Garling</a> & <a href="http://www.followingthenerd.com/comics/comic-reviews/review-sentinels-of-the-multiverse/#sthash.8qYn62kN.dpbs">Greater Than Games</a>
				</p>

			</div>

		</div><!-- .row -->
	</div><!-- .container -->
</footer>