
<section class="hireme" style="height:350px pfblock pfblock-gray">
	<div class="container" style="background: url(assets/purple.jpg); width:100%;">

		<div class="row">

			<div class="col-md-12 col-lg-12">
			<br/>
				<h2 class="wow slideInRight" data-wow-delay=".1s" style="color: #ffffff">DO I SEEM LIKE A GOOD FIT?</h2>
				<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
					I'm always looking for new opportunities, so if you're interested, contact me right away!
				</div>
			</div>

			<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
				<a href="#contact" class="btn btn-lg">Hire Me</a>
			</div>

			<br/>

		</div><!-- .row -->
	</div><!-- .container -->
</section>