<section id="international" class="pfblock pfblock">

  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

       <div class="pfblock-header wow fadeInUp">
        <h2 class="pfblock-title">I love thinking globally</h2>
        <div class="pfblock-line"></div>
        <div class="pfblock-subtitle">
         I have an immense interest in working with international clients or in a global company, especially in the software business and in consulting.<br/> <b>And I hope to find a place that allows me to work globally and experience the world.</b>
       </div>
     </div>

   </div>

 </div><!-- .row -->

 <img src="assets/world-map-dots.png">

 <br/>

 <div class="row">
  <div class="col-sm-6">

    <div class="pfblock-header wow fadeInUp">
      <h2 class="pfblock-title" style="font-size:20px">Terre Haute, Indiana, USA</h2>
      <div class="pfblock-subtitle" style="font-size:14px">
        I'm attending Rose-Hulman, where I plan on obtaining a BS in software engineering and computer science in 2016. Here, I'm a member of Phi Gamma Delta, Rho Phi chapter and have served as the fraternity's technology chair and international relations chair. I've worked on major projects here, most notably a computer version of Sentinels of the Multiverse, a meeting and task management website entitled Meeting Ninja, and my current senior project with Google and their AdSense team.
      </div>
    </div>

  </div>

  <div class="col-sm-6">

    <div class="pfblock-header wow fadeInUp">
    <h2 class="pfblock-title" style="font-size:20px">Charleston, South Carolina, USA</h2>
      <div class="pfblock-subtitle" style="font-size:14px">
        I worked as a software development intern with Blackbaud. Blackbaud develops software solutions for non-profit organizations, including software for fundraising and financial management. I worked on the Financial Edge team and played a part in the development of their new, cloud-based accounting software.
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <div class="pfblock-header wow fadeInUp">
      <h2 class="pfblock-title" style="font-size:20px">Uppsala, Uppsala County, Sweden</h2>
      <div class="pfblock-subtitle" style="font-size:14px">
        As a part of a class called "Computing in a Global Society", I took part in an international collaboration with students from Uppsala University. Our challenge was to come up with a software solutions for the Uppsala County Council and local medical professionals to monitor patients with chronic conditions &mdash; such as heart disease, diabetes, and COPD &mdash; from home, thus reducing the number of regular checkups. As the youngest team member of this collaboration, I played the part of international project manager, managing Americans, Swedes and other European students. I also assisted in presenting our solution to government officals of the Uppsala County Council, notable doctors and medical administrators.
      </div>
    </div>

  </div>

  <div class="col-sm-6">

    <div class="pfblock-header wow fadeInUp">
    <h2 class="pfblock-title" style="font-size:20px">Aizu-Wakamatsu, Fukushima, Japan</h2>
      <div class="pfblock-subtitle" style="font-size:14px">
        I spent my entire junior year in Japan studying at the University of Aizu. Here, I was treated as a masters student and took advanced courses on machine learning and international affairs as well as conducted research. My research focused on the fields of forensic linguistics and how machine learning could help to uncover similarities in writing styles as well as deducing authorship. I also spent some time with a project involving using machine learning techniques to identify emotions on Twitter. For 3 months, I worked for a local startup, AizuLab, as an intern where I created an API and was exposed to Japanese business practices.
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <div class="pfblock-header wow fadeInUp">
      <h2 class="pfblock-title" style="font-size:20px">St. Petersburg, Russia</h2>
      <div class="pfblock-subtitle" style="font-size:14px">
        I attended the XLVI International Scientific Conference on Control Proceses and Stability (CPS'15) at St. Petersburg State University. I presented my work on data mining in forensics and how it could be used to differentiate between school shooters, serial killers, and spree killers based on writing style.
      </div>
    </div>

  </div>

  <div class="col-sm-6">

    <div class="pfblock-header wow fadeInUp">
    <h2 class="pfblock-title" style="font-size:20px">Guangzhou, Guangdong, China</h2>
      <div class="pfblock-subtitle" style="font-size:14px">
        My research, on behalf of my research professor at Aizu, was presented at the International Association of Forensic Linguistics (IAFL12) conference in Guangzhou. It was an extension of my earlier research on authorship attribution using text mining, more particularly tied to peculiar word choice and authorship for violent criminals.
      </div>
    </div>

  </div>
</div>


</div><!-- .row -->


</section>