
<section id="home" class="pfblock-image screen-height">
	<div class="home-overlay" style="height:100%; overflow:hidden">
	</div>

	

	<div class="intro">
		<div class="start">Hello, my name is</div> <h1>Corey Vatter</h1> <div class="start">and I am</div>
		<h1>Rose-Hulman Software Engineering and Computer Science Senior</h1>
	</div>

	<a href="#bio">
		<div class="scroll-down">
			<span>
				<i class="fa fa-angle-down fa-2x"></i>
			</span>
		</div>
	</a>

</section>