	<section id="portfolio" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">Other Projects</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							Below are some of my major projects not related to industry. They include school projects, side-projects and things I did just for fun.
						</div>
					</div>

				</div>

			</div><!-- .row -->


            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="assets/mino.jpg" alt="img01" style="height:340px; width: 400px"/>
                            <figcaption>
                                <h2>The <span>Bull</span> Below</h2>
                                <p>This survival horror game was created using the Unity 4 engine and implemented A* pathfinding for the monster. For this project, I flexed my artistic skills by learning 3D modeling with Blender.</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="assets/sentinels_of_the_multiverse.jpg" alt="img01"/>
                            <figcaption>
                                
                                <h2><span>Sentinels</span> of the <span>Multiverse</span></h2>
                                <p>This PC version of the card game was created for a school project. It was built with a i18n Japanese language setting and includes a large test suite.</p>

                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="assets/ninja.jpg" alt="img01" style="height:340px;"/>
                            <figcaption>
                                <h2>Meeting <span>Ninja</span></h2>
                                <p>Meeting Ninja is a meeting and task management tool that introduced me to the fundamentals of the software development lifecycle. My team developed the web platform using Ruby on Rails.</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                
            </div>

            <br/>
            <br/>

            <div class="row">

                <div class="pfblock-header wow fadeInUp">
                <h3 class="pfblock-title" style="font-size:24px">This website is on Github!</h3>

                    <div class="row">
                        <button href="https://github.com/vattercw/Corey-Vatter-Personal-Website" class="btn btn-lg">View on Github</button>
                    </div>
                </div>
                
            </div>



        </div><!-- .contaier -->

    </section>